/* Colors waaye */
:root {
  --primary-color: #00d1f9;
  --secondary-color: #19409a;
  --font-black-color: #001442;
  --font-gray-color: #808080;
  --bg-color: #f2f9f9;
}

/* Habeenta guud */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
}

nav ul li {
  list-style: none;
}

p {
  font-size: 0.85rem;
  line-height: 1.5rem;
  margin: 0px 0px 16px;
  color: var(--font-gray-color);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0 0 8px 8px;
}

/* Habeenta container-ka guud */
.container {
  width: min(90%, 1120px);
  padding-block: 5rem;
  margin-inline: auto;
}

/* Habeenta BG-ga */
.bg-color {
  background-color: var(--bg-color);
  border-radius: 0.625rem;
  padding-block: 2rem;
}

.bg-white {
  background-color: white;
  border-radius: 0.625rem;
  padding: 2rem;
}

/* Habeenta grid-ka 1 cols-ka */
.grid-1-col {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.grid-2-cols,
.grid-3-cols,
.grid-4-cols {
  display: grid;
  gap: 1.5rem;
}

/* Habeenta Flex-ka */
.flex {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline: 1rem;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

/* Habeenta Features-ka */
.header {
  text-align: center;
  margin: 0px 0px 8px;
}

.header h4 {
  font-size: 1.5rem;
  color: var(--primary-color);
  text-transform: uppercase;
}

.header h1 {
  font-size: 4.7rem;
  color: var(--font-black-color);
  margin: 0px 0px 16px;
  padding-bottom: 1rem;
}

.icon {
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.125rem;
  background: var(--primary-color);
  color: white;
  padding: 3rem;
}

.sub-header {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--font-black-color);
  margin: 0px 0px 16px;
}

a.sub-header:hover,
a.read-more:hover {
  color: var(--primary-color);
}

.read-more {
  font-size: 1rem;
  font-weight: bold;
  color: var(--secondary-color);
  padding: 6px 12px;
}

/* Habeenta About Us */
.about-img img {
  margin-left: 1rem;
  /* width: 100%; */
}

.about-img {
  position: relative;
  border-top: 5px solid var(--secondary-color);
  border-left: 10px solid var(--secondary-color);
  border-radius: 8px;
}

.about-exp {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  color: white;
  font-weight: bold;
  padding: 25px;
  margin: -15px 0px 0px -15px;
  border-radius: 0 0 10px 0;
  font-size: 1.8rem;
}

/* Text */
.header.left {
  text-align: left;
}

.header.left h1 {
  font-size: 4rem;
  margin: 0px 0px -40px;
}

.btn {
  font-weight: bold;
  background-color: var(--secondary-color);
  color: white;
  padding: 16px 40px;
  border-radius: 6.25rem;
  display: block;
  margin-left: 0;
  margin-right: auto;
}

.btn:hover {
  background-color: var(--primary-color);
}

/* Habeenta Fact Counter-ka */
.bg-image {
  background: linear-gradient(rgba(25, 64, 154, 0.9), rgba(25, 64, 154, 0.9)),
    url("../img/fact-bg.jpg") center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4rem);
  margin-block: 2rem;
  padding-block: 2rem;
}

.flex.col h4,
.txt-white {
  color: white;
}

.sub-header.txt-white {
  font-size: 2rem;
}

.sub-header.txt-white span {
  font-size: 3.5rem;
  font-weight: 100;
  vertical-align: middle;
}

/* Habeenta Our Services-ka */
.size h1 {
  font-size: 5.5rem;
}

.flex.row.shadow a:hover {
  color: black;
}

.flex.row.shadow p:hover {
  color: white;
}

.shadow {
  box-shadow: 0px 0px 0.3125rem rgba(0, 0, 0, 0.2);
  border-radius: 0.625rem;
}

.flex.row.shadow:hover {
  background-color: var(--primary-color);
}

.flex.row.shadow .icon:hover {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border-radius: 50%;
}

/* Habeenta Products */
.flex.col.border {
  border: 0.5px solid var(--font-gray-color);
  border-radius: 10px;
}

.bg-color.wid-109 {
  width: 109.5%;
}

.bg-color.wid-109 .bg-font {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.bg-font {
  color: var(--primary-color);
}

.btn.pro {
  display: inline-block;
  width: 50%;
}

/* Habeenta Blogs-ka */
.blog-img-container {
  position: relative;
  width: 110%;
  height: 30vh;
  max-height: 250px;
}

/* Habeenta Calendar icon-ka */
.icon.blog {
  width: 50%;
  height: 3rem;
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--primary-color);
  color: #fff;
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 0.85rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.bg-color.wid-110 {
  width: 110%;
}

.add-gap {
  gap: 2rem;
}

/* Habeenta Mobile-da yar yar (Extra Small: Portrait) */
/* ==== Base Grid Layouts ==== */
.grid-1-col {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.grid-2-cols,
.grid-3-cols,
.grid-4-cols {
  display: grid;
  gap: 1.5rem;
}

/* ==== Habeenta Responive-ka Portrait Phones-ka yar yar  ==== */
@media only screen and (max-width: 480px) {
  .grid-2-cols,
  .grid-3-cols,
  .grid-4-cols {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1.5rem;
  }

  /* Fact Counter */
  .bg-image {
    height: calc(100% - 4%);
    margin-block: 2%;
    padding-block: 2%;
  }

  /* Habeenta Products */
  .bg-color.wid-109 {
    width: 105.5%;
  }
}

/* ==== Habeenta Responive-ka Phones-ka iyo Tablets-ka yar yar ==== */
@media only screen and (max-width: 768px) {
  .grid-2-cols,
  .grid-3-cols,
  .grid-4-cols {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1.5rem;
  }

  /* Fact Counter */
  .bg-image {
    height: calc(100% - 4%);
    margin-block: 2%;
    padding-block: 2%;
  }

  /* Habeenta Products */
  .bg-color.wid-109 {
    width: 105.5%;
  }
}

/* ==== Habeenta Responive-ka Tablets iyo Laptops-ka yar yar  ==== */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .grid-2-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-3-cols,
  .grid-4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Dhexda Geey Hadii hal grid soo hara */
  .grid-3-cols > *:nth-last-child(1):nth-child(odd),
  .grid-4-cols > *:nth-last-child(1):nth-child(odd) {
    grid-column: 1 / -1;
    justify-self: center;
    width: 60%;
  }

  /* Habeenta Products */
  .bg-color.wid-109 {
    width: 105.5%;
  }
}

/* ==== Habeenta Responive-ka Desktop-ka ==== */
@media only screen and (min-width: 1025px) {
  .grid-2-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-3-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* ==== Habeenta Responive-ka Shaashadaha waa wayn ==== */
@media only screen and (min-width: 1441px) {
  .grid-3-cols {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  .grid-4-cols {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
  }
}
